{% if query %}
            <h1>Search Results</h1>

            {% for result in page.object_list %}
                <p>
                    <a href="/place/single/{{ result.object.local_url }}">{{ result.object.title }}</a>
                </p>
                {% if result.object.first_name %}
                	<p>{{ result.object.first_name }} {{ result.object.last_name }}</p>
                {% endif %}
            {% empty %}
                <p>No results found for '{{ query}}'.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
            <h1>Search Results</h1>
            <p>No results found</p>
        {% endif %}
    </form>

{% block scripts_block %}

{% endblock %}