{% if query %}
{% load static %}
            <h1>Search Results for '{{ query|capfirst }}'</h1>

            {% for result in page.object_list %}
                {% if result.object.title %}	
               	<div class="media">
					<a class="pull-left" href="{% url 'single' result.object.local_url %}">{% if result.object.thumbnail %}
				{% load cropping %}
				<img src="{% cropped_thumbnail result.object "cropping" scale=1 %}" alt="{{ result.object.title }} thumbnail" class="img-thumbnail">
			{% else %}
				<img src="{% static 'img/image_placeholder.gif' %}" alt="{{ place.title }} thumbnail" class="img-thumbnail">
			{% endif %}</a>
					
					<div class="media-body">
						<a href="place/single/{{ result.object.local_url }}"><h4 class="media-heading">{{ result.object.title }}</h4></a>
						<p><em>{{ result.object.description }}</em></p>
					</div>
				</div>
                	
                	
                	
                	
                {% endif %}
            {% empty %}
                <p>No results found for '{{ query }}'.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
            <h1>Search Results</h1>
            <p>No results found</p>
        {% endif %}
    </form>

{% block scripts_block %}

{% endblock %}