<!DOCTYPE html>

{% load static %}

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Local Links in Tower Hamlets</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
		<link href="{% static 'css/styles.css' %}" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
		<link href="{% static 'css/ekko-lightbox.min.css' %}" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.4"></script>
		<style>		
			.logo {
				display: block;
				text-indent: -5000px;
				background: url('{% static "img/logo.png" %}') top left no-repeat;
				width: 140px;
				height: 42px;
				margin: 3px 3px 3px 0px!important;
			}
		</style>
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
			    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        				<span class="sr-only">Toggle navigation</span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
      				</button>
      				<a class="navbar-brand logo" href="{% url 'index' %}">Local Links</a> <span class="label label-default pull-right" style="margin-top: 2px">Beta</span>
   				</div>
   				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     				<ul class="nav navbar-nav">
        				{% for page in nav %}
        					<li><a href="{% url 'page' page.local_url %}">{{ page.title }}</a></li>
        				{% endfor %}
        				
        			</ul>
					<form class="navbar-form navbar-right" role="search" action="/search/">
	  					<div class="form-group">
				    		<input name="q" type="text" class="form-control input-sm" placeholder="Search" id="searchfield">
						</div>
				  		<button type="submit" class="btn btn-sm" id="search">Submit</button>
					</form>
				</div>
			</div>
		</nav>

			{% block body_block %} {% endblock %}
							
		</div>
	    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	    
	    <script src="{% static 'js/ekko-lightbox.min.js' %}"></script>
	    
	    <script>
		/*$(document).ready(function() {
	    	
	    	function search() {
	    		var q=$('#searchfield').val();
	    		$.get('/search/?q', {q: q}, function(data) {
	    			$('#place_description').html(data)
	    		});
	    	}
	    	
	    	$('#search').click(function(e) {
	    		e.preventDefault();
	    		search();
	    	});
	    	
	    	$('#search').submit(function(e) {
	    		e.preventDefault();
	    		search();
	    	});
	    });	*/
	    </script>
	    	{% block scripts_block %} {% endblock %}
	    
	    	
	</body>
</html>