{% extends 'maps/base.html' %}

{% load static %}

{% block body_block %}

<div class="row">
	<div id="window" class="col-md-8 col-md-push-4">
	</div>
	<div class="col-md-4 col-md-pull-8"  id="place_description">
				<div>
			<div id="like_button" class="pull-right">
				 {% if not has_liked %}
				 <button id="likes" data-placeid="{{ place.id }}" class="btn btn-xs btn-primary" type="button">Like</button>
				 {% else %}
				 	
				 {% endif %}
				 <span id="like_count">{{ place.likes }}</span> <span class="glyphicon glyphicon-star"></span>
 

 

			</div>
			<h3>{{ place.title }}</h3>
		</div>
		<ul class="nav nav-tabs" id="placeTabs">
  			<li class="active" data-toggle="tab"><a href="#about">About</a></li>
  			<li><a href="#people" data-toggle="tab">People</a></li>
  			<!---<li><a href="#why" data-toggle="tab">Why visit?</a></li>
  			<li><a href="#tags" data-toggle="tags">Tags</a></li>
  			<li><a href="#more" data-toggle="tags">More</a></li>-->
		</ul>
		<div class="tab-content detail">
			<div class="tab-pane active" id="about">
				<div class="row">
					{% load static %}
					<div class="col-md-5">
						<img src="media/{{ place.place_thumbnail }}" alt="" class="img-thumbnail">
					</div>
					<div class="col-md-6">
						<p><small>{{ place.address_1 }}<br />
						{{ place.address_2 }}<br />
						{{ place.address_3 }}<br />
						{{ place.city }}<br />
						{{ place.postcode }}</small></p>
						<p><small>{{ place.phone }}<br />
						{{ place.email|urlizetrunc:30 }}<br />
						{{ place.url|urlizetrunc:30 }}
						</small></p>
					</div>
				</div>
				<h4>What people are saying</h4>
				<div id="quotes">
				{% for quote in quotes %}
					<div class="panel panel-default">
						<div class="panel-body">
							{{ quote.text }}
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
			<div class="tab-pane" id="people">
				<h4>Who to look for</h4>
			
				{% for role in roles %}
				<div class="panel panel-default">
					<div class="panel-body">
						<span class="glyphicon glyphicon-user"></span><strong>
{{ role.person }}:</strong> "{{ role.text }}"
					</div>
				</div>
				{% endfor %}
			</div>
			<!--<div class="tab-pane" id="why">
			</div>
			<div class="tab-pane" id="tags">
			</div>
			<div class="tab-pane" id="more">
			</div>-->
		</div>
	</div>
</div>

{% endblock %}

{% block scripts_block %}

<script>
	
	$('#placeTabs a').click(function (e) {
		e.preventDefault()
		$(this).tab('show')
	})
		
	$(document).ready(function(){
		$('#quotes').slimScroll({
			height: '70%'
		});
	});
		
	$(document).ready(function() {
		
	$('#likes').click(function(){
		var placeid;
		placeid = $(this).attr("data-placeid");
		$.get('/like_place/', {place_id: placeid}, function(data){
			$('#like_count').html(data);
			$('#likes').fadeOut( "slow ");
		});
	});
		
	});
	
	var centrelat = {{ place.lat }};
	var centrelon = {{ place.lon }};
	
	{% get_static_prefix as STATIC_PREFIX %}

	// Create icon
	
	var {{ place.type|lower }}Icon = L.icon({
		iconUrl: '{{ STATIC_PREFIX }}img/icons/{{ place.type|lower }}.png',
    	iconSize:     	[29, 40],
    	iconAnchor:   	[14, 20],
    	popupAnchor:	[0, -20]
	});

	// Add Stamen tileset

	var tiles = new L.StamenTileLayer("watercolor");
	
	var map = L.map('window', {
		center: new L.LatLng(centrelat, centrelon),
		zoom: 14,
		zoomControl: false,
	});
	
	map.addLayer(tiles);
	
	// Add zoom control
	L.control.zoom({
		position: 'topright',
	}).addTo(map);
	
	// Add marker
	
	var marker = L.marker([{{ place.lat }}, {{ place.lon }}], {icon: {{ place.type|lower }}Icon}).bindPopup('{{ place.title }}').addTo(map);
	
</script>

{% endblock %}